


div #cartbtn{
	position:relative;
	float:left;
	margin-left:10px;
	margin-top:300px;
}


.specs{
	float:left;
	border-collapse:separate;
	border-spacing:25px;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	color:#FFF;
	background:none;
}
.classic{
	margin-top:50px;
	margin-left:200px;
}


.btn{
	width:60px;
	height:25px;
	background:#666;
	color:#FFF;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	border-radius:15px;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
    display:inline-block;
}

.btnn{
	width:80px;
	height:25px;
	background:#666;
	color:#FFF;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	border-radius:15px;
    display:inline-block;
	margin-top:100px;
}

.btnn:hover {
		opacity:0.5;
	  
	font-size:18px;
	width:90px;
	
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s;
		 -webkit-transition: width 1s,  /* For Safari 3.1 to 6.0 */
          transition: width 1s, ;
}

.btn:hover {
		opacity:0.5;
	  
	font-size:18px;
	width:90px;
	
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s;
		 -webkit-transition: width 1s,  /* For Safari 3.1 to 6.0 */
          transition: width 1s, ;
}


.specbtn {
		margin-left:150px;
		cursor:pointer;
		opacity:.5;
		
	
	}
.specbtn:hover{
	opacity:1;
}

.specbtn {
		margin-left:150px;
		cursor:pointer;
		opacity:.5;
		
	
	}
.specbtn:hover{
	opacity:1;
}

.specbtnn {
	border: thin 18px;
	border-color:#000;
	margin-top:20px;
		margin-left:100px;
		cursor:pointer;
		opacity:.5;
		
	
	}
.specbtnn:hover{
	opacity:1;
}


.specbtnn {
	border: thin 18px;
	border-color:#000;
	margin-top:20px;
		margin-left:100px;
		cursor:pointer;
		opacity:.5;
		
	
	}
.specbtnn:hover{
	opacity:1;
}
#ss{
	color:#999;
	 opacity:.5;}

#carname{
	background-color:#999;
	color:#FFF;
	border-radius:5px;
	width:188px;
	height:25px;
	font-size:14px;
}

#spect{
	border-radius:5px 0px 0px 20px;
	
	background: rgba(200, 0, 0, .5);
	color:#FFF;
	opacity:1;	}	

#spectt{
	border-radius:0px 20px 5px 0px;
	color:#FFF; 
	
	background: rgba(200, 54, 54, .5);
	
	}	
.model
{
}

nav {
margin-top:150px;
position:absolute;      
}
#nav2{
	margin-top:10px;
	}

span a:hover
{
	color:#000;
  text-decoration:none;
  font-size:18px;
  opacity:1;
  
}
	
nav div {
	
    width: 90px;
    height: 30px;
    background:#333;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
	border-radius: 2px;
	-webkit-border-radius: 5px;
	color:#FFF;
	text-align:center;
	padding-top:9px;
	opacity:0.8;
	font-family: 'BebasNeueRegular';
}
p{
	width: 90px;
    height: 30px;
   background:#333;

    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
	border-radius: 2px;
	-webkit-border-radius: 5px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	opacity:0.5;
	font-family: 'BebasNeueRegular';
	
	}	

p a{
	color:#FFF;	
	text-align:center;
	padding-top:10px;
	
	font-family: 'BebasNeueRegular';
}

.active {
	
	background-color:#666; 
  text-decoration:none;
  width:250px;
  opacity:1;
  font-size:18px;  
	}

.hor table{
    border-collapse: separate;
    border-spacing: 20px 5px;
}

p:hover{
	 width: 250px;
	opacity:1;
	animation-name: example;
    
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; 
}

nav div:hover {
    width: 250px;
	opacity:1;
	animation-name: example;
    
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; 
	
	
}

.selected,nav a:hover
{
	color:#000;
	background-color:#999; 
  text-decoration:none;
  width:150px;
  opacity:.7;
  font-size:18px;  
}

.sselected
{
	color:#000;
	background-color:#9C6; 
  text-decoration:none;
  width:100px;
  opacity:1;
  font-size:px;  
}
.hor{
	margin-top:75px;
	margin-left:75px;}
	
.hr{
	margin-top:10px;
	}
	
.brand1{
	position:relative;
	margin-left:130px;
	margin-top:5px;
	 border-collapse: separate;
    border-spacing: 150px 50px;
	}
	
		
.brand1 img{
	
	margin-left:60px;
    transition: width 2s, height 4s, transform 4s;
	height:180px;
	width:200px;
	position:relative;
	display:block;
}

.brand1 img:hover{
	opacity:0.5;

}

	


.query img{
	transition: width 2s, height 4s, transform 4s;
	height:80px;
	width:80px;
	
}
.query img:hover{
	 transform: rotate(360deg);
}
	
.query{
	
	
	float:right;
	position:relative;
	border-collapse:collapse;
	 width:200px;
    height: 30px;
	margin-top:250px;
	color:#CCC;
	}
.contact{
	width:778px;
	margin-left:200px;
	margin-top:150px;
	position:relative;
	border-spacing:20px 25px;;
	color:#FFF;
	border-radius: 0px 0px 30px 5px;
	background:#333;
	border-collapse:separate;
    border: 2px solid #8AC007;
    padding: 20px;
	opacity:.8; 
	
}
.contact h3{
	color:#FF0;}
	.contact h4{
		color:#09F;
	}
.contact td{
	color:#FFF;
	opacity:1;
}
.contcover{
	
	position:absolute;
	margin-left:200px;
	margin-top:30px;
}
.contcover img{
	width:774px;
	height:118px;
	border: 2px solid #8AC007;
	border-radius: 30px 5px 0px 0px;
	opacity:.8;
}
#elogo{
	width:25px;
	height:20px;}
.submit input {
	float:right;
	width: 200px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	opacity:.5;	
}
	
	
.cardesc{
	margin-top:-30px;
	position:absolute;
	margin-left:10px;
	color:#FFF;
	font-size:24px;
	font-family:Verdana, Geneva, sans-serif;}	
.submit input:hover{
	background-color:#333;
}
	
	/*.brand1 img{
	 
	-webkit-animation: spin 5s linear infinite;
	
	-webkit-animation-name: spin;
	
	}
	*/	
.hr1{
	position:absolute;
	margin-top:100px;
	width:98%;
	}
	
	.hr2{
	position:fixed;
	margin-top:20px;
	width:95%;
	}
	
	.wwww{
		position:relative;
		margin-top:120px;
	}
	.www{
		 padding: 0 10px;
		
		font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
		 color:#900;
		 font-size:24px;
	}
.www img{
		width:30px;
		height:25px;
	}
	
	
	#insta

{
	margin-top:-22px;	
position:fixed;
	margin-left:900px;
	width:75px;
	height:48px;
	}	

#twit

{
	
	margin-top:-22px;	
position:fixed;
	margin-left:950px;
	width:80px;
	height:50px;
	}	
#fb{
	margin-top:-21px;
	position:fixed;
	margin-left:1000px;
	width:90px;
	height:55px;
}
#copy{
	color:#FFF;
	margin-left:20px;
}

.footer{
	
	opacity:.7;
	margin-left:-40px;
	width:100%;
	height:50px;
	position:fixed;
	margin-top:390px;
	background-color:#000;
	color:#FFF;}
.ajaxloader
{
	 
	-webkit-animation: spin 5s linear infinite;
	
	-webkit-animation-name: spin;
}

@-webkit-keyframes spin
{
	
	50% { transform: rotateY(90deg); opacity: 1; }
	
}


/*
aas@-webkit-keyframes spin
{
	from { transform: rotate( 0deg );   opacity: 1; }
	50%  { transform: rotateY(90deg); opacity: .5; }
	to   { transform: rotatX(360deg); opacity: 1; }
}

asas@-webkit-keyframes spin
{
	from { transform: rotateY( 180deg );   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}
*/
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color:#CCC;
		color:#FFF;}
    to {background-color:#666;
		color:#000;}
}

}
/* Standard syntax */
@keyframes example {
    from {background-color: red;}
	
    to {background-color: yellow;}
}
